{% extends "base/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<h2 class="text-center mb-4">Planejador de Viagem Multicritério ✈️</h2>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        {% include "base/widgets/forms.html" with form=form submit_button_content="Gerar Rota Otimizada"%}

        <a href="{% url 'city_list' %}" class="btn btn-outline-secondary w-100 mt-2">
            Ver cidades e importâncias
        </a>

        {% if request.path == '/' %}
            {% url 'index_peso' as PESOS_URL %}
            {% bootstrap_button content="Priorização manual" href=PESOS_URL type="link" button_class="btn-outline-secondary" extra_classes="w-100 mb-2" %}
        {% else %}
            {% url 'index' as INDEX_URL %}
            {% bootstrap_button content="Priorização pré-definida" href=INDEX_URL type="link" button_class="btn-outline-secondary" extra_classes="w-100 mb-2" %}
        {% endif %}
    </div>
</div>

{% if resultado %}
{% include "base/widgets/card_resultados.html" with resultado=resultado %}
{% endif %}

{% endblock content %}
