asgiref==3.11.1
coverage==7.13.5
Django==6.0.4
django-bootstrap5==26.2
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
pytest-cov==7.1.0
pytest-django==4.12.0
sqlparse==0.5.5
